@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Questrial&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    min-width: 320px;
}

/* ------------------------------------------------------Heading Logo Start-------------------------------------- */

.you-create-beauty-logo-start-page{
    text-align: center;
    padding: 30px 0px;
    font-size: 50px;
}

.you-create-beauty-logo-you{
    font-weight: bold;
    color: rgb(255, 209, 153);
    font-family: 'Lora', serif;
}

.you-create-beauty-logo-create{
    font-style: italic;
    color: rgb(211, 210, 210);
    font-family: 'Questrial', sans-serif;
}

.you-create-beauty-logo-beauty{
    font-weight: bold;
    font-family: 'Lora', serif;
    color: black;
}

.you-create-beauty-logo-navbar{
    text-align: center;
    padding: 30px 0px;
    font-size: 20px;
    display: none;
}

.nav-link{
    font-family: 'Lora', serif;
    color: black;
    font-size: 1.2vw;
}

/* ------------------------------------------------------Heading Logo end----------------------------------------- */

/* -----------------------------------------------------first page start------------------------------------------- */

.main_conatiner_background_image{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("bg_image.jpg");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
}

.main_conatiner_background_image_heading{
    padding: 30px;
    font-size: 60px;
    font-family: 'Lora', serif;
    font-weight: 400;
    color: white;
    padding-top: 150px;
}

.main_conatiner_background_image_sub_heading{
    width: 700px;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Lora', serif;
    font-weight: 400;
    color: white;
}

.product-post-container{
    display: flex;
    align-items: center;
}

.product-post-container-one{
    background-color: bisque;
    /* width: 25%; */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.product-post-container-three{
    background-color: bisque;
    /* width: 25%; */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.product-post-container-two{
    background-color: rgb(211, 210, 210);
    /* width: 25%; */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.product-post-container-four{
    background-color: rgb(211, 210, 210);
    /* width: 25%; */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.product_image_logo_text{
    padding-left: 10px;
}

.product_image_logo{
    padding-right: 10px;
}

.product_image_logo_text_head{
    font-family: 'Lora', serif;
    font-weight: 600;
    letter-spacing: 0.2em;
}

.product_image_logo_text_sub_head{
    font-size: 12px;
    text-align: start;
    font-family: 'Lora', serif;
    letter-spacing: 0.1em;
}

.product-post-container_right{
    display: flex;
    width: 50%;
}

.product-post-container_left{
    display: flex;
    width: 50%;
}

/* -----------------------------------------------------first page end------------------------------------------- */

/* -----------------------------------------------------steps model page start------------------------------------------- */

.steps_model_main_container{
    width: 100%;
}

.steps_model_main_container_heading{
    text-align: center;
    padding: 80px 0px;
    font-weight: 600;
    font-size: 37px;
    font-family: 'Lora', serif;
    color: black;
}

.steps_model_bagound_image{
    background-image: url("map-background.gif");
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 100px 0px;
    font-family: 'Lora', serif;
}

.steps_model_bagound_image_sub_container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.steps_model_bagound_image_sub_container_one_box{
    border-top: 3px solid gray;
    border-left: 3px solid gray;
    width: 250px;
    height: 303px;
}

.steps_model_bagound_image_sub_container_two_box{
    border-bottom: 3px solid gray;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 250px;
    height: 303px;
}

.steps_model_bagound_image_sub_container_three_box{
    border-top: 3px solid gray;
    width: 250px;
    height: 303px;
}

.steps_model_bagound_image_sub_container_four_box{
    border-bottom: 3px solid gray;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 250px;
    height: 303px;
}

.step_image{
    border-radius: 20px;
    padding: 20px 0px;
}

.step_image img{
    border-radius: 20px;
}

.step_image_heading{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.step_image_heading_text{
    padding: 14px;
    font-size: 16px;
    color: gray;
    padding-top: 19px;
}

.step_image_heading1{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.step_image_heading_text1{
    padding: 14px;
    font-size: 16px;
    color: gray;
}

.step_image1{
    border-radius: 20px;
    padding: 10px 0px 10px 0px;
}

.step_image1 img{
    border-radius: 20px;
}

.seperated_class_bow_four{
    padding-top: 20px;
}

.seperated_class_bow_two{
    padding-top: 90px;
}

/* -----------------------------------------------------steps model page end------------------------------------------- */


/* ----------------------------------------------------ingredient page start--------------------------------------- */

.ingredient_main_page_container{
    text-align: center;
    padding: 80px 0px;
    font-size: 30px;
}

.you-create-beauty-you{
    font-weight: bold;
    color: rgb(255, 209, 153);
    font-family: 'Lora', serif;
}

.you-create-beauty-create{
    color: rgb(175, 171, 171);
    font-family: 'Lora', serif;
    font-style: italic;
}

.you-create-beauty-beauty{
    font-weight: bold;
    font-family: 'Lora', serif;
    color: black;
}

.ingredient_main_page_container_inner{
    width: 100%;
    height: 300px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.ingredient_image{
    padding: 0px 10px;
    /* width: 25%; */
    height: 250px;
    overflow: hidden;
    background-color: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    width: 50%;
    position: relative;
    font-family: 'Lora', serif;
}

.ingredient_image img{
    width: 100%;
    height: 250px;
    filter: brightness(50%);
}

.ingredient_container_one{
    display: flex;
    width: 50%;
}

.ingredient_container_two{
    display: flex;
    width: 50%;
}

.ingredient_image_text {
    color: white;
    position: absolute;
    top: 35%;
    left: 28%;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
}

.ingredient_image_text_bold{
    font-size: 34px;
    line-height: 1;
}

.ingredient_image:hover{
    transform: scale(1.05, 1.05);
    cursor: pointer;
}


/* ----------------------------------------------------ingredient page end---------------------------------------- */

/* ----------------------------------------------------recipe page start---------------------------------------- */

.receipe_main_page{
    margin: 0 auto;
    padding: 70px 60px;
}

.featurette{
    font-family: 'Lora', serif;
}

.featurette-heading{
    font-size: 2.3vw;
    font-weight: bold;
}

.lead {
    font-size: 14px;
    padding-top: 20px;
}

.lipstickimg{
    height: auto;
}

/* ----------------------------------------------------recipe page end---------------------------------------- */

/* -----------------------------------------------------social page start-------------------------------------- */

.social_main_page_container{
    text-align: center;
    padding: 10px 0px;
    font-size: 30px;
    padding-bottom: 70px;
}

.social_page_image_container_one{
    width: 100%;
    height: 250px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.social_container_one{
    display: flex;
    width: 50%;
}

.social_container_two{
    display: flex;
    width: 50%;
}

.social_image{
    padding: 0px 10px;
    height: 250px;
    overflow: hidden;
    width: 50%;
    font-family: 'Lora', serif;
}

.social_image img {
    width: 100%;
    height: 250px;
}

.social_page_image_container_two{
    width: 100%;
    height: 250px;
    padding: 10px 50px;
    margin-top: 20px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.social_image:hover{
    filter: brightness(50%);
    transform: scale(1.05, 1.05);
    cursor: pointer;
}


/* -----------------------------------------------------social page end-------------------------------------- */

/* -----------------------------------------------------content page start-------------------------------------- */

.content_main_page_container{
    text-align: center;
    padding: 10px 0px;
    font-size: 30px;
    padding-bottom: 40px;
}

.content_main_page{
    width: 100%;
    padding: 0px 50px;
    margin-bottom: 30px;
}

.content_card_heading{
    font-size: 16px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 0px;
    font-weight: 600;
    color: black;
}

.content_card_text{
    padding: 0px 55px;
    font-size: 14px;
}

.content_card_readon{
    color: rgb(255, 209, 153);
}

.content_page_chnage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.content_pink{
    width: 15px;
    height: 15px;
    background-color:  rgb(255, 209, 153);
    border: 2px solid rgb(172, 164, 164);
    cursor: pointer;
}

.content_white{
    width: 15px;
    height: 15px;
    border: 2px solid rgb(172, 164, 164);
    margin-left: 5px;
    cursor: pointer;
}

.content_page_chnage1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.content_pink1{
    width: 15px;
    height: 15px;
    border: 2px solid rgb(172, 164, 164);
    border: 2px solid rgb(172, 164, 164);
    cursor: pointer;
}

.content_white1{
    width: 15px;
    height: 15px;
    background-color:  rgb(255, 209, 153);
    border: 2px solid rgb(172, 164, 164);
    margin-left: 5px;
    cursor: pointer;
}

.card_part:hover{
    cursor: pointer;
}

/* -----------------------------------------------------content page end-------------------------------------- */

/* ---------------------------------------------------footer page start----------------------------------------- */

.footer_main_box{
    border-bottom: 1px solid black;
    padding: 30px 80px 0px 80px;
    background-color: rgb(241, 239, 235);
}

.footer_text{
    font-size: 1.1vw;
    line-height: 1.8;
    font-family: 'Lora', serif;
    color: black;
}

.subscribe_button{
    background-color:  rgb(255, 209, 153);
    color: black;
    font-family: 'Lora', serif;
    padding: 5px 10px;
}

.footer_main_page_container{
    text-align: start;
    padding: 10px 0px;
    font-size: 20px;
    padding-bottom: 40px;
}

.divider_footer{
    width: 100%;
    margin: 40px auto;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 0px;
}

.divider_iso{
    font-size: 12px;
    font-family: 'Lora', serif;
}

.social_media_logo{
    margin-left: -200px;
}

/* ---------------------------------------------------footer page end----------------------------------------- */


/* --------------------------------------------------media queries 991px-------------------------------------- */

@media (max-width: 991px) {

    .you-create-beauty-logo-start-page {
        text-align: center;
        padding: 30px 0px;
        font-size: 50px;
        display: none;
    }

    .nav-link {
        font-size: 14px;
    }

    .you-create-beauty-logo-navbar {
        text-align: center;
        padding: 0px;
        display: block;
    }

    .product-post-container {
        display: block;
    }

    .product-post-container_left {
        width: 600px;
        margin: 0 auto;
    }

    .product-post-container-one, .product-post-container-two,
    .product-post-container-three, .product-post-container-four{
        margin: 20px;
    }

    .product-post-container_right {
        width: 600px;
        margin: 0 auto;
    }

    /* Step block */

    .steps_model_bagound_image_sub_container {
        display: block;
    }

    .steps_model_bagound_image_sub_container_one_box {
        border: 3px solid gray;
        border-radius: 20px;
        height: 303px;
        margin: 20px auto;
    }

    .steps_model_bagound_image {
        background-image: none;
        padding: 0px;
    }

    .steps_model_bagound_image_sub_container_two_box {
        height: 314px;
        margin: 20px auto;
        border: 3px solid gray;
        border-radius: 20px;
    }

    .steps_model_bagound_image_sub_container_three_box {
        margin: 20px auto;
        border: 3px solid gray;
        border-radius: 20px;
    }

    .steps_model_bagound_image_sub_container_four_box {
        height: 314px;
        margin: 20px auto;
        border: 3px solid gray;
        border-radius: 20px;
    }

    /* ingredient page */

    .ingredient_main_page_container_inner {
        width: 100%;
        height: auto; 
        display: block;
    }

    .ingredient_container_one {
        width: 600px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .ingredient_container_two {
        width: 600px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    /*  */

    .social_page_image_container_one {
        height: auto;
        padding: 0px 50px;
        display: block;
    }
    
    .social_container_one {
        margin: 0 auto;
        width: 600px;
        margin-bottom: 20px;
    }

    .social_container_two {
        margin: 0 auto;
        width: 600px;
        margin-bottom: 20px;
    }

    .social_page_image_container_two {
        width: 100%;
        height: auto;
        padding: 0px 50px;
        margin-top: 20px;
        margin-bottom: 70px;
        display: block;
    }
    
}

/* --------------------------------------------------media queries 991px-------------------------------------- */

@media (max-width: 767px) {

    .main_conatiner_background_image_sub_heading {
        width: 85%;
    }

    .product-post-container_left {
        width: 300px;
        display: block;
    }

    .product-post-container-one{
        margin: 20px auto;
        width: 300px;
    }

    .product-post-container-two{
        margin: 20px auto;
        width: 300px;
    }

    .product-post-container_right {
        width: 300px;
        display: block;
    }

    .product-post-container-three{
        margin: 20px auto;
        width: 300px;
    }

    .product-post-container-four{
        margin: 20px auto;
        width: 300px;
    }

    .ingredient_container_one {
        width: 300px;
        display: block;
    }

    .ingredient_image{
        width: 300px;
        margin: 20px 0px;
    }

    .ingredient_container_two {
        width: 300px;
        display: block;
    }

    .ingredient_image_text {
        left: 33%;
    }

    .social_container_one {
        width: 300px;
        display: block;
    }

    .social_image {
        width: 300px;
        height: 250px;
        margin-bottom: 20px;
    }

    .social_container_two {
        width: 300px;
        display: block;
    }

    .footer_main_page_container {
        text-align: center;
    }

    .footer_text {
        text-align: center;
        font-size: 14px;
    }

}


/* --------------------------------------------------media queries 600px-------------------------------------- */

@media (max-width: 650px) {

    .main_conatiner_background_image_heading {
        font-size: 42px;
    }

    .main_conatiner_background_image_sub_heading {
        font-size: 16px;
    }

    .steps_model_main_container_heading {
        font-size: 26px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .ingredient_main_page_container {
        text-align: center;
        padding: 80px 0px;
        font-size: 18px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .ingredient_main_page_container_inner {
        padding: 0px 0px;
    }

    .featurette-heading {
        font-size: 16px;
    }

    .social_main_page_container {
        padding: 10px 10px;
        padding-bottom: 50px;
        font-size: 18px;
    }

    .social_page_image_container_one {
        padding: 0px 0px;
    }

    .social_page_image_container_two {
        padding: 0px 0px;
    }

    .content_main_page_container {
        padding: 10px 10px;
        font-size: 18px;
    }

    .content_main_page_container {
        margin-bottom: 50px;
    }
    
    .content_card_text {
        padding: 0px;
    }

    .content_main_page {
        padding: 0px;
    }

    .footer_main_box {
        padding: 30px 50px 0px 50px;
    }

    .social_media_logo {
        margin-left: 0px;
    }

    .divider_footer {
        display: block;
        text-align: center;
    }

    .content_card_text {
        padding: 0px;
        padding: 0px 50px;
    }

    .footer_main_page_container {
        font-size: 15px;
    }

    .footer_text {
        text-align: center;
        font-size: 12px;
    }

    .card_part{
        padding-right: 0px;
        padding-left: 0px;
    }

    .content_main_page{
        width: 300px;
    }

    .content_row{
        width: 300px;
        margin: 0 auto;
    }
    


}